<%- include('../partials/header.ejs') %>

    <header class="bg-light p-5">
        <h1>Kamp Alanlarına hoşgeldiniz!</h1>
        <p>Türkiye'nin doğa harikası yerlerinde kamp yapmak için tavsiyeler</p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new">New Camping Ground</a>
    </header>

    <div class="row row row-cols-1 row-cols-sm-2 row-cols-md-3 mt-2 g-1">
        <% campAreas.forEach(element=> { %>
            <div class="col">
                <div class="card">
                    <img src="<%= element.img %>" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <%= element.title %>
                        </h5>
                        <p>
                            <a href="/campgrounds/<%=element._id%>" class="btn btn-primary">More info</a>
                        </p>
                    </div>
                </div>
            </div>

            <% }) %>
    </div>

    <%- include('../partials/footer.ejs') %> 
    